body{
    font-family: 'Open Sans', sans-serif;
    margin: 0  ;
}
p{
    color: gray;
}
h1{
    font-size:50px;
}
h2{
    font-size: 40px;
}
img{
    width: 100%;
}
#name{
    color:#EB4B79;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
    
}
.half-width img{
    width:100%;
}
.header{
    background-image:url(images/header-bg.png);
    background-repeat:no-repeat;
    background-position:left;
    height: 720px;
    padding-top: 3%;
    
}
.button{
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #EB4B79;
    background: #EB4B79;
    padding: 10px 20px;
    border-radius: 5px;
}
.biography{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-position:left;
    height: 720px;
    padding-top: 3%;
    margin-top: 5%;
}
.latest-work{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position:left;
    height: 720px;
    padding-top: 3%;
}
.latest-work-title{
    text-align: center;
}
.latest-work-images img{
    float:left;
    width: 30%;
    padding-top:2%;
    padding-left: 3%;
    text-align: center;
}
.bottom-section{
    text-align: center;
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 720px;   
}
.bottom-section-all{
    width: 40%;
    margin: auto;
}
.bottom-section-all q{
    width: 40%;
}
.bottom-email{
    text-decoration: none;
    background-image:linear-gradient(#EB4F93,#EC4A71);
    border: 1px solid #EC4A71;
    border-radius: 5px;
    padding: 10px 20px;
}
.bottom-email a{
    text-decoration: none;
    color: white;
}
#leave-messege{

}
#mail-add{
    font-size:30px;
    font-weight: 700;
    
}
footer{
    width: 100%;
    margin: auto 0;
    text-align: center;
    font-size: 15px;
}